<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Supermercado</title>
    <%= csrf_meta_tags %>

    <link href="/assets/application.scss" media="all" rel="stylesheet" data-turbolinks-track="true" />
    <script src="/assets/application.js" data-turbolinks-track' => true ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!-- Custom styles for this template -->
    </head>

    <body>

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h4><%= link_to 'Supermercado', root_path, style: 'color:#FFFFFF;' %></h4>&nbsp;&nbsp;
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Proveedores', proveedores_path, style: 'color:#FFFFFF;' %>&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
            <li class="nav-item active">
              <%= link_to 'Productos', productos_path, style: 'color:#FFFFFF;' %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in?%>
              <li class="nav-item active">
                <%= link_to 'Cerrar', destroy_user_session_path, method: :delete, style: 'color:#FFFFFF;' %>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to 'Iniciar', new_user_session_path, style: 'color:#FFFFFF;' %>&nbsp;&nbsp;&nbsp;&nbsp;
              </li>
              <li class="nav-item">
                <%= link_to 'Registrarse', new_user_registration_path , style: 'color:#FFFFFF;'%>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <main role="main" class="container">
        <div class="col-md-12">
          <br><br><br>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </main>

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
  </html>
